.app {
  text-align: center;
  height: 100%;
}

.craftingContainer {
  display: flex;
}

.componentPage {
  background-color: #a44f09;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
}

.craftingPage {
  background-color: #151042;
  width: 35%;
}

.craftingPageItems {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}

.craftingPageItems .component {
  flex-basis: 25%;
}

.componentButton {
  width: 2rem;
  height: 2rem;
  background: url(./images/ui_components.png) top left no-repeat;
  margin: 0.5rem 0.5rem;
}

.recipePage {
  height: 100%;
}
