.app {
  text-align: center;
}

.craftingContainer {
  display: flex;
}

.componentPage {
  background-color: #a44f09;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.craftingPage {
  background-color: #151042;
  min-width: 50%;
  display: flex;
  align-items: center;
}

.craftingPageItems {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
}

.craftingPageItems .component {
  margin-left: 5%;
  margin-right: 5%;
}

.component {
  width: 2rem;
  height: 2rem;
  background: url(./images/ui_components.png) top left no-repeat;
  margin: 0.5rem 0.5rem;
}
