.app {
  text-align: center;
  height: 100%;
  color: white;
}

button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.craftingContainer {
  display: flex;
  min-height: 12rem;
}

.craftingHeader {
  width: 100%;
  text-align: left;
}

.componentPage {
  background-color: #a44f09;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}

.craftingPage {
  background-color: #151042;
  width: 35%;
  padding: 1rem;
}

.craftingPageItems {
  display: flex;
  flex-flow: row wrap;
}

.craftingPageItems .component {
  flex-basis: 25%;
}

.componentButton {
  width: 2rem;
  height: 2rem;
  background: url(./images/ui_components.png) top left no-repeat, grey;
  margin: 0.5rem 0.5rem;
}

.recipePage {
  margin-top: 1rem;
  height: 100%;
}

.recipePage li {
  list-style-type: none;
}

.recipeItems li {
  margin: 0 1rem;
  outline: 0.05rem solid white;
}

.recipeItems li:nth-child(odd) {
  background-color: #312f2f;
}

.recipeItems li:nth-child(even) {
  background-color: #3e3d3d;
}

.recipePage button {
  border: 0.1rem solid gray;
  cursor: default;
}

.recipe {
  display: flex;
}

.recipeLabel {
  color: white;
  min-width: 8rem;
  max-width: 8rem;
  margin: auto 0.5rem;
}

.recipeList {
  width: 100%;
  display: flex;
  margin-bottom: 0.05rem;
}

.recipeItem {
  outline: 0.05rem solid white;
  width: 25%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
  color: white;
}

.pagination li {
  cursor: pointer;
}

.pagination li a {
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.active{
  border: 1px solid white;
  border-radius: 100%;
  padding: 0 3px;
  outline: none;
}
